# FiveM assets
*.yft filter=lfs diff=lfs merge=lfs -text
*.ytd filter=lfs diff=lfs merge=lfs -text
*.ymap filter=lfs diff=lfs merge=lfs -text
*.ydr filter=lfs diff=lfs merge=lfs -text
*.ybn filter=lfs diff=lfs merge=lfs -text
*.ymf filter=lfs diff=lfs merge=lfs -text
*.ydd filter=lfs diff=lfs merge=lfs -text
*.ytyp filter=lfs diff=lfs merge=lfs -text
*.rpf filter=lfs diff=lfs merge=lfs -text