### PLOK Cars
# Aston Martin
ensure amdbx
ensure ast
# Audi
ensure audquattros
ensure r8ppi
ensure rs72020
ensure sq72016
# Bentley
ensure bbentayga
ensure bnt2018
# BMW
ensure 760li04
ensure e34
ensure m2
ensure m3e92
ensure m3f80
ensure m4f82
ensure z419
# Cadillac
ensure cesc21
# Chevrolet
ensure 09tahoe
ensure 15tahoe
ensure 69camaross
# Corvette
ensure c7
ensure corvettec5z06
ensure czr1
# Dodge
ensure 16charger
# Ferrari
ensure pistaspider19
# Ford
ensure f150
ensure f15078
ensure fgt
ensure gt17
ensure raptor2017
# Honda
ensure ap2
ensure honcrx91
ensure dragekcivick
# Jaguar
ensure fpacehm
# Jeep
ensure srt8
# Koenigsegg
ensure jes
# Lamborghini
ensure lp700r
ensure urus
# Land Rover
ensure lrrr
# Lexus
ensure gs350
ensure lfa
# Lotus
ensure esprit02
# Lucis
ensure regalia
# Maserati
ensure levante
# Mazda
ensure 84rx7k
ensure majfd
# Mercedes
ensure amggtrr20
ensure e400
ensure G65
ensure sl500
# Mitsubishi
ensure fto
# Nissan
ensure 180sx
ensure gtr
ensure nissantitan17
ensure s30
# Porsche
ensure 718caymans
ensure cgt
ensure maj935
ensure pcs18
ensure taycan
# Range Rover
ensure rrevoque
ensure rsvr16
# Rolls Royce
ensure RollsRoyceCP
ensure rrphantom
# Subaru
ensure subwrx
# Toyota
ensure a80
ensure vxr
ensure mr2zzw30
# W Motors
esnure lykan
ensure wmfenyr